{
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

tariffsheriff.app {
  encode zstd gzip

  @api path /api*, /v3/api-docs*, /swagger-ui*, /actuator/health
  reverse_proxy @api tariffsheriff-backend:8080

  handle {
    reverse_proxy tariffsheriff-frontend:80
  }
}

www.tariffsheriff.app {
  redir https://tariffsheriff.app{uri}
}